
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #ffce0a;
}

.theme-text{
    color: var(--main-color);
}

.act{
    color: var(--main-color) !important;
}

.navbar ul li a:hover{
    color: var(--main-color) !important;
}

.header{
    background-image: url(bg-header.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.wave{
    position: absolute;
    bottom: 0px;
}

.middle{
    width : 50%;
    height: 75vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.carousel-item{
    padding: 100px;
}

.carousel-item p{
    font-size: 18px;
    font-weight: normal;
}

.cards-wrapper{
    column-gap: 15px;
}

.carousel-caption{
    color: black;
}

.btn{
    background: #ffce0a;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}

.carousel-inner{
    margin-top: 50px;
    margin-bottom: 50px;
}

.offcanvas-title{
    color: var(--main-color) !important;
}